[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.20.0"
scipy = "*"

[dev-packages]
mypy = "*"
black = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
